<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Mylist">
    <select id="getRecipeList" resultType="worldlist">
        SELECT * FROM worldlist
        WHERE userid = #{userid}
        ORDER BY id DESC;
    </select>
    <select id="searchRecipeByName" parameterType="string" resultType="worldlist">
        select * from worldlist
        where recipe_name like concat('%', #{recipe_name}, '%') and userid = #{userid}
    </select>
    <select id="getRecipe" parameterType="int" resultType="worldlist">
        SELECT * FROM worldlist
        WHERE id = #{id};
    </select>
    <delete id="deleteRecipe" parameterType="int">
        DELETE FROM worldlist
        WHERE id = #{id};
    </delete>
    <insert id="addRecipe" parameterType="worldlist">
        INSERT INTO worldlist (
        recipe_name,
        main_ingredient,
        ingredients,
        cooking_order,
        prep_time,
        difficulty_level,
        category,
        userid,
        cnt,
        regdate
        ) VALUES (
        #{recipe_name},
        #{main_ingredient},
        #{ingredients},
        #{cooking_order},
        #{prep_time},
        #{difficulty_level},
        #{category},
        #{userid},
        #{cnt},
        NOW()
        );
    </insert>
    <update id="editRecipe" parameterType="worldlist">
        UPDATE worldlist
        SET
        recipe_name = #{recipe_name},
        main_ingredient = #{main_ingredient},
        ingredients = #{ingredients},
        cooking_order = #{cooking_order},
        prep_time = #{prep_time},
        difficulty_level = #{difficulty_level},
        category = #{category}
        WHERE
        id = #{id};
    </update>

</mapper>