<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Worldlist">
    <select id="getRecipeList" resultType="worldlist">
        select * from worldlist order by id desc
    </select>
    <select id="searchRecipeByName" parameterType="string" resultType="worldlist">
        select * from worldlist
        where recipe_name like concat('%', #{recipe_name}, '%')
    </select>
    <update id="incrementViewCount" parameterType="int">
        UPDATE worldlist
        SET
        cnt = cnt + 1
        WHERE
        id = #{id};
    </update>
    <select id="getSortedAndPaginatedList" resultType="worldlist">
        SELECT *
        FROM worldlist
        <if test="sort != null">
            ORDER BY
            <choose>
                <when test="sort == 'recipe_name'">recipe_name ASC</when>
                <when test="sort == 'prep_time'">prep_time ASC</when>
                <when test="sort == 'category'">category ASC</when>
                <when test="sort == 'difficulty_level_easy'">difficulty_level ASC</when>
                <when test="sort == 'difficulty_level_difficult'">difficulty_level DESC</when>
                <when test="sort == 'cnt'">cnt DESC</when>
                <otherwise>id ASC</otherwise>
            </choose>
        </if>
        LIMIT #{pageSize} OFFSET #{offset}
    </select>

    <select id="getTotalRecipeCount" resultType="int">
        SELECT COUNT(*)
        FROM worldlist
    </select>
</mapper>